<%= stylesheet_link_tag 'spree_reports/spree_reports', media: 'all' %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<% content_for :page_title do %>
    <%= Spree.t(:orders_per_period) %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, class: 'button' %>
    </li>
<% end %>

<% content_for :table_filter_title do %>
    <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
    <%= form_tag "", method: :get, class: "options" do %>

      <div class="row offset-by-two">
        <div class="alpha four columns field-block">
          <div class="field">
            <%= label_tag :group_by, Spree.t(:group_by, scope: :opp_reports) %>
            <%= select_tag :group_by,
                           options_for_select(@report.group_by_list.collect{|r| [Spree.t(r, scope: :group_by_list), r]}, selected: @report.group_by),
                           {:include_blank => false, :class => 'select2', style: 'width:100%'}%>
          </div>
        </div>
        <div class="alpha four columns field-block">
          <div class="field">
            <%= label_tag :months, Spree.t(:months, scope: :opp_reports),{title: @report.date_start ? "date_start: #{l(@report.date_start.to_date)}" : "" } %>
            <%= select_tag :months,
                           options_for_select(SpreeReports.report_months, selected: @report.months),
                           {:include_blank => false, :class => 'select2', style: 'width:100%'}%>
          </div>
        </div>
        <div class="alpha four columns field-block">
          <div class="field">
            <%= label_tag :state, Spree.t(:state)%>
            <%= select_tag :state,
                           options_for_select(@report.states, selected: @report.state),
                           {:include_blank => false, :class => 'select2', style: 'width:100%'}%>
          </div>
        </div>

      </div>

      <% if @report.currencies.size > 1 || @report.stores.size > 2 %>
        <div class="row offset-by-four">
          <% if @report.currencies.size > 1 %>
              <div class="alpha four columns field-block">
                <div class="field">
                  <%= label_tag :currency, Spree.t(:currency) %>
                  <%= select_tag :currency,
                                 options_for_select(@report.currencies, selected: @report.currency),
                                 {:include_blank => false, :class => 'select2', style: 'width:100%'}%>
                </div>
              </div>
          <% end %>

          <% if @report.stores.size > 2 %>
              <div class="alpha four columns field-block">
                <div class="field">
                  <%= label_tag :store, Spree.t(:store) %>
                  <%= select_tag :store,
                                 options_for_select(@report.stores, selected: @report.store),
                                 {:include_blank => false, :class => 'select2', style: 'width:100%'}%>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>

        <div class="actions filter-actions">
          <%= button Spree.t(:reload), 'refresh' %>
        </div>

    <% end %>
<% end %>

<div class="spree_reports report">

  
  <div class="table">
    
    <table class="index data">
      <thead>
      <tr>
        <th><%= Spree.t(@report.group_by, scope: :group_by_list) %></th>
        <th><%= Spree.t(:orders_count) %></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:item_count_total) %>">ICT</span></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:items_per_order) %>">IPO</span></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:average_total) %>">Avg. T.</span></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:total_sale) %>">Total</span></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:item_total) %>">Item T.</span></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:adjustment_total) %>">Adjustment T.</span></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:shipment_total) %>">Shipment T.</span></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:shipment_total) %>">Promo T.</span></th>
        <th class="help"><span class="with-tip" data-powertip="<%= Spree.t(:included_tax_total) %>">Included Tax T.</span></th>
      </tr>
      </thead>

      <tbody>
      <% @report.data.each do |item| %>
          <tr>
            <% money_option = SpreeReports.money_format.merge({:currency => @report.currency}) %>
            <td><%= item[:date_formatted] %></td>
            <td><%= number_with_delimiter(item[:count]) %></td>
            <td><%= number_with_delimiter(item[:item_count_total]) %></td>
            <td><%= number_with_precision(item[:items_per_order], precision: 2) %></td>
            <td><%= Spree::Money.new(item[:avg_total], money_option).to_s %></td>
            <td><%= Spree::Money.new(item[:total], money_option).to_s %></td>
            <td><%= Spree::Money.new(item[:item_total], money_option).to_s %></td>
            <td><%= Spree::Money.new(item[:adjustment_total], money_option).to_s %></td>
            <td><%= Spree::Money.new(item[:shipment_total], money_option).to_s %></td>
            <td><%= Spree::Money.new(item[:promo_total], money_option).to_s %></td>
            <td><%= Spree::Money.new(item[:included_tax_total], money_option).to_s %></td>
          </tr>
      <% end %>
      </tbody>

  
    </table>
  
  </div>

  <div class="charts">
     
     <h2><%= Spree.t(:orders_count) %></h2>
     <div class="chart">
       <%= column_chart Hash[@report.data.collect { |i| [i[:date_formatted], i[:count]] }] %>
     </div>
  
     <h2><%= Spree.t(:item_count_total) %></h2>
     <div class="chart">
       <%= column_chart Hash[@report.data.collect { |i| [i[:date_formatted], i[:item_count_total]] }] %>
     </div>
  
     <h2><%= Spree.t(:items_per_order) %></h2>
     <div class="chart">
       <%= column_chart Hash[@report.data.collect { |i| [i[:date_formatted], i[:items_per_order]] }] %>
     </div>
     
     <h2><%= Spree.t(:average_total) %></h2>
     <div class="chart">
       <%= column_chart Hash[@report.data.collect { |i| [i[:date_formatted], i[:avg_total]] }] %>
     </div>
          
     <h2><%= Spree.t(:total_sale) %> & <%= Spree.t(:item_total) %></h2>
     <div class="chart">
       <%=
         column_chart [
           { name: Spree.t(:total_sale), data: Hash[@report.data.collect { |i| [i[:date_formatted], i[:total]] }] },
           { name: Spree.t(:item_total), data: Hash[@report.data.collect { |i| [i[:date_formatted], i[:item_total]] }] }
         ]
       %>
     </div>
     
     <h2><%= Spree.t(:misc_total) %></h2>
     <div class="chart">
       <%=
         column_chart [
           { name: Spree.t(:shipment_total), data: Hash[@report.data.collect { |i| [i[:date_formatted], i[:shipment_total]] }] },
           { name: Spree.t(:included_tax_total), data: Hash[@report.data.collect { |i| [i[:date_formatted], i[:included_tax_total]] }] },
           { name: Spree.t(:adjustment_total), data: Hash[@report.data.collect { |i| [i[:date_formatted], i[:adjustment_total]] }] },
           { name: Spree.t(:promo_total), data: Hash[@report.data.collect { |i| [i[:date_formatted], i[:promo_total]] }] }
         ]
       %>
     </div>
     
  </div>
  
  <div class="permalink">
    <h2>Permalink</h2>
    <input id="spree_reports_permalink" type="text" value="<%= request.url.split('?').first + "?" + params.except(:utf8, :commit, :action, :controller).to_query %>" onclick="$(this).select();return;">
    <% if SpreeReports.csv_export %>
      <%= link_to Spree.t(:download_csv), params.except(:utf8, :commit).merge(format: "csv") %>
    <% end %>
  </div>
  
</div>