<%= stylesheet_link_tag 'spree_reports/spree_reports', media: 'all' %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<% content_for :page_title do %>
    <%= Spree.t(:sold_products) %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, class: 'button' %>
    </li>
<% end %>

<% content_for :table_filter_title do %>
    <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
    <%= form_tag "", method: :get, class: "options" do %>

      <div class="row">
        <dif class="alpha sixteen columns field-block">
          <div class="date-range-filter field align-center">
            <div class="field" data-hook="completed_at_search">
              <%= label_tag nil, Spree.t(:start), class: 'inline' %>
              <%= text_field_tag :completed_at_gt, datepicker_field_value(params[:completed_at_gt]), class: 'datepicker datepicker-from' %>
              <span class="range-divider">
                        <i class="fa fa-arrow-right"></i>
                      </span>
              <%= text_field_tag :completed_at_lt, datepicker_field_value(params[:completed_at_lt]), class: 'datepicker datepicker-to' %>
              <%= label_tag nil, Spree.t(:end), class: 'inline' %>
            </div>
          </div>
        </dif>
      </div>

      <% if @report.currencies.size > 1 || @report.stores.size > 2 %>
        <div class="row offset-by-four">
          <% if @report.currencies.size > 1 %>
            <div class="alpha four columns field-block">
              <div class="field">
                <%= label_tag :currency, Spree.t(:currency) %>
                <%= select_tag :currency,
                               options_for_select(@report.currencies, selected: @report.currency),
                               {:include_blank => false, :class => 'select2', style: 'width:100%'}%>
              </div>
            </div>
          <% end %>

          <% if @report.stores.size > 2 %>
            <div class="alpha four columns field-block">
              <div class="field">
                <%= label_tag :store, Spree.t(:store) %>
                <%= select_tag :store,
                               options_for_select(@report.stores, selected: @report.store),
                               {:include_blank => false, :class => 'select2', style: 'width:100%'}%>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="actions filter-actions">
        <%= button Spree.t(:reload), 'refresh' %>
      </div>

    <% end %>
<% end %>

<div class="spree_reports report">
  
  <h1><%= Spree.t(:sold_products) %></h1>
  
  <div class="table">
    
    <table class="data">
      <thead>
        <tr>
          <th>Pos</th>
          <th>Variant ID</th>
          <th>Product Variant Name</th>
          <!--<th><%= link_to 'Quantity', sold_products_admin_reports_path(params.merge({sort_by: {quantitiy: :asc}})) %></th>-->
          <th><%= sort_link @search, :quantity %></th>
          <th><%= sort_link @search, :price, 'Value' %></th>
          <th data-hook="admin_sold_product_report_header_actions" class="actions"></th>
        </tr>
      </thead>

      <tbody>
        <% @report.data.each_with_index do |item, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= item[:variant_id] %></td>
            <td>
              <%= link_to item[:variant_name], product_path(item[:variant_slug]), class: item[:variant_available_on] > Time.now ? "red" : "" %>

            </td>
            <td><%= number_with_delimiter(item[:quantity]) %></td>
            <td><%= Spree::Money.new(item[:price], :currency => @report.currency).to_s %></td>
            <td class="actions" data-hook="admin_sold_product_report_row_actions">
              <%# link_to "edit", admin_product_path(item[:variant_slug]) %>
              <%= link_to_with_icon 'eye', Spree.t(:view), product_path(item[:variant_slug]), no_text: true, class: 'edit', target: '_blank' %>
              <%= link_to_edit_url admin_product_path(item[:variant_slug]), :no_text => true, :class => 'edit' if can?(:edit, Spree::Variant)%>
            </td>
          </tr>
        <% end %>
      </tbody>
  
    </table>
  
  </div>
  
  <div class="charts">
     
     <h2>Top 20 Products (by quantity)</h2>
     <div class="chart">
       <%= column_chart Hash[@report.data.first(20).collect { |i| [i[:variant_name], i[:quantity]] }] %>
     </div>

    <h2>Top 20 Products (by value)</h2>
    <div class="chart">
      <%= column_chart Hash[@report.data.first(20).collect { |i| [i[:variant_name], i[:price]] }] %>
    </div>
     
     <h2>Flop 20 Products</h2>
     <div class="chart">
       <%= column_chart Hash[@report.data.reverse.first(20).collect { |i| [i[:variant_name], i[:quantity]] }] %>
     </div>
  
  </div>
  
  <div class="permalink">
    <h2>Permalink</h2>
    <input id="spree_reports_permalink" type="text" value="<%= request.url.split('?').first + "?" + params.except(:utf8, :commit, :action, :controller).to_query %>" onclick="$(this).select();return;">
    <% if SpreeReports.csv_export %>
      <%= link_to 'Download as CSV', params.except(:utf8, :commit).merge(format: "csv") %>
    <% end %>
  </div>
  
</div>